<div class="container d-flex justify-content-center align-items-center h-auto" id="home-page-content">
  <div class="row">
    <div class="shadow-sm media col-sm justify-content-center align-items-center rounded-lg flex-column">
      <img class="mt-3" src="../../../assets/pablo_icon.png"/>
      <div class="row mt-5">
        <a class="icons" href="https://www.linkedin.com/in/pablo-marti-cordero-a8b85411a/" target="_blank"><i class="fab fa-linkedin mr-3"></i></a>
        <a class="icons" href="https://github.com/pablojmarti" target="_blank ml-3"><i class="fab fa-github-square"></i></a>    
      </div>
    </div>
    <div class="col-sm">
      <h1 class="border-bottom">Pablo Marti Cordero</h1>
      <p>Hola Mundo! Youre on my website so I bet youre wondering who the hecky is this person? My name is Pablo and I love technology. Whether it involves gaming, systems, or, coding. I started tinkering with computers when I got my first laptop at the age of ten. A couple of broken OS' and a second laptop later I found myself enjoying tinkering a lot.</p>
      <p>Eventually my tinkering led me down the avenue of Computer Science. This brought me to Bergen Community College where I got my associates in Computer Science and eventually my Bachelors of Science from SUNY New Paltz. I fell in love with the Hudson Valley area and haven't left since.</p>
      <p>You could say I am a musician, I would say that as well so I give you permission. I've been playing guitar since I was 14 and have been in a medley of musical ensembles. Unfortunetly for the both of us I only have three examples on the internet which you can find <%= link_to "here", "https://mudbeard.bandcamp.com/", target: "_blank", class: "media-link" %> and <%= link_to "here", "https://community.bandcamp.com/", target: "_blank", class: "media-link" %> </p>
      <p>Anywho thats enough about me. If you want to tell me a bit about yourself or are looking to collaborate in some capacity please feel free to reach me via email <%= link_to "here", "mailto:pablojmarti@gmail.com", class: "media-link" %>.</p>
    </div>
  </div>
</div>
