<footer id="sticky-footer" class="py-4 text-white fixed-bottom">
  <div class="container text-center m-auto">
    <p class="text-white m-auto">Copyright &copy; <%= link_to "pablo.fun", "https://pablo.fun", class: "text-white" %></p>
  </div>
</footer>
